<form method="POST" action="/add">
<h3>Title</h3>
<input type="text" name="title">
<h3>Content</h3>
<input type="text" name="content">
<h3>Author</h3>
<input type="text" name="author">

<button type="submit"> Create blog </button>
<button type="submit">delete blog</button>
<h4>Title Content Author</h4>
</form>

{% for blog in blogs %}

<ol>{{blog.title}}
{{blog.content}}
{{blog.author}}</ol>

{%endfor%}